<div class="form-row">
    {% if has_changes %}
    <div class="diff col">
        <h2>Original</h2>
    </div>
    {% endif %}
    <div class="diff col">
        <h2>Pending change</h2>
    </div>
</div>

{% for field, obj in changes.items %}
{% if field != '_moderated_object' %}

{% if field == 'geometry' %}
{% include "moderation/includes/geometry_fieldset.html" with field=field obj=obj api_key=MAPS_API_KEY only %}
{% else %}

<div class="form-row {{ field }}">
    <label style="width:100%">{{ obj.verbose_name|title }}</label>
    {% if has_changes %}
    <div class="diff col">
        <div>{% if obj.original %}{{ obj.original }}{% else %}-{% endif %}</div>
    </div>
    {% endif %}
    <div class="diff col">
        <div{% if obj.changed %} class="changed"{% endif %}>{% if obj.pending %}{{ obj.pending }}{% else %}-{% endif %}</div{% if obj.changed %} class="changed"{% endif %}>
    </div>
</div>

{% endif %}

{% endif %}
{% endfor %}
