{% load static %}

<style type="text/css">
    div.geometry_map {
        width: 95%;
        height: 400px;
        display: inline-block;
        margin: 10px 150px 0 0;
    }
    div.geometry_map_right {
        margin-top: 3em;
    }
    div.geometry_map_wrapper {
        border-bottom: none;
    }
</style>

<div class="form-row {{ field }}_map_wrapper">
    {% if has_changes %}
    <div class="diff col">
        <label>{{ obj.verbose_name|title }}</label>
        <div id="id_{{ field }}_original_map" class="geometry_map geometry_map_left">{% if not obj.original %}-{% endif %}</div>
    </div>
    {% endif %}
    <div class="diff col">
        <div id="id_{{ field }}_pending_map" class="geometry_map geometry_map_right">{% if not obj.pending %}-{% endif %}</div>
    </div>
</div>

<script src="{% static "moderation/vendor/wicket.js" %}"></script>
<script src="{% static "moderation/vendor/wicket-gmap3.js" %}"></script>
<script>
    function mapWkt(gmap, wktStr) {
        var features = [];

        var wkt = new Wkt.Wkt();
        wkt.read(wktStr);
        var obj = wkt.toObject(gmap.defaults);

        var bounds = new google.maps.LatLngBounds();

        if (Wkt.isArray(obj)) { // Distinguish multigeometries (Arrays) from objects
            for (i in obj) {
                if (obj.hasOwnProperty(i) && !Wkt.isArray(obj[i])) {
                    obj[i].setMap(gmap);
                    features.push(obj[i]);

                    if(wkt.type === 'point' || wkt.type === 'multipoint')
                        bounds.extend(obj[i].getPosition());
                    else
                        obj[i].getPath().forEach(function(element,index){bounds.extend(element)});
                }
            }

            features = features.concat(obj);
        } else {
            obj.setMap(gmap); // Add it to the map
            features.push(obj);

            if(wkt.type === 'point' || wkt.type === 'multipoint')
                bounds.extend(obj.getPosition());
            else
                obj.getPath().forEach(function(element,index){bounds.extend(element)});
        }

        google.maps.event.addListenerOnce(gmap, 'bounds_changed', function(event) {
            this.setZoom(16);
        });
        gmap.fitBounds(bounds);
    }

    function initMap() {
        {% if has_changes %}
        {% if obj.original %}
        var gmap_original = new google.maps.Map(document.getElementById('id_{{ field }}_original_map'), {
            center: { lat: -37.8136, lng: 144.9631 },
            zoom: 16,
            mapTypeControl: false,
            streetViewControl: false
        });
        mapWkt(gmap_original, '{{ obj.original.wkt }}');
        {% endif %}
        {% endif %}

        {% if obj.pending %}
        var gmap_pending = new google.maps.Map(document.getElementById('id_{{ field }}_pending_map'), {
            center: { lat: -37.8136, lng: 144.9631 },
            zoom: 16,
            mapTypeControl: false,
            streetViewControl: false
        });
        mapWkt(gmap_pending, '{{ obj.pending.wkt }}');
        {% endif %}
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>

<div class="form-row {{ field }}">
    {% if has_changes %}
    <div class="diff col">
        <p>{% if obj.original %}{{ obj.original }}{% else %}-{% endif %}</p>
    </div>
    {% endif %}
    <div class="diff col">
        <p{% if obj.changed %} class="changed"{% endif %}>{% if obj.pending %}{{ obj.pending }}{% else %}-{% endif %}</p>
    </div>
</div>
