<fieldset class="module aligned">
    <h2>Actions</h2>
    <table class="submit-row">
        <tr>
            <td>
                <p class="deletelink-box">
                    <input type="submit" value="Reject changes" name="reject"  />
                </p>
            </td>
            <td class="middle">
                <input type="button" class="edit_button" value="Edit {{ object_name }}">
            </td>
            <td>
                <input type="submit" value="Approve changes" name="approve" />
            </td>
        </tr>
    </table>
</fieldset>
