<fieldset class="module aligned">
    <h2>Disruption Actions</h2>
    <div class="submit-row">
        {% if edit_button %}
        <input type="button" class="default edit_button" value="EDIT DISRUPTION">
        {% endif %}

        {% if save_as %}
        <input type="submit" value="Duplicate" class="default" name="_saveasnew">
        {% endif %}

        {% if can_approve %}
        <input type="submit" value="Submit for publishing" class="green" name="_save">
        {% else %}
        <input type="submit" value="Submit for approval To {{ next_approval_group }}" class="green" name="_save">
        {% endif %}

        {% if not is_draft and can_progress and prev_approval_group %}
        <input type="submit" value="Reject disruption to {{ prev_approval_group }}" class="red" name="_reject">
        {% endif %}
    </div>
</fieldset>
