{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    $ = django.jQuery;

    function set_submit_button_text($projectSelect) {
        var projectLookups = {{ projects_submit_groups|safe }};
        var n = projectLookups[$projectSelect.find(':selected').val()];
        if (n == undefined) {
            $('input[name="_save"]').val('Submit for approval');
        } else if (n == 'Publishing') {
            $('input[name="_save"]').val('Submit for publishing');
        } else {
            $('input[name="_save"]').val('Submit for approval To ' + n);
        }
    }

    $(function() {
        {% if can_approve or next_approval_group is None %}
        $('input[name="_save"]').val('Submit for publishing');
        {% else %}
        $('input[name="_save"]').val('Submit for approval To {{ next_approval_group }}');
        {% endif %}

        {% if add %}
        $('input[name="_save"]').val('Submit for approval');
        $('select#id_project').change(function() {
            set_submit_button_text($(this));
        });
        {% endif %}

        // If project is already selected when a validation error occured, update the button text
        var preselect = $('select#id_project :selected');
        if (preselect && $('p.errornote').length) {
            set_submit_button_text($('select#id_project'));
        }

        {% if is_draft or add_view %}
        var $draft_button = $('<input/>', {
            type: 'submit',
            class: 'default',
            value: 'Save as draft',
            name: 'save_as_draft'
        }).prependTo($('input[name="_save"]').parent());
        {% endif %}
    });
</script>
{% endblock %}

{% block object-tools-items %}
{% if original.has_pending_changes %}
<li><a href="{{ moderated_admin_url }}" class="historylink">View pending changes</a></li>
{% endif %}
<li><a href="#">{{ user_groups }}</a></li>
{{ block.super }}
{% endblock %}
