{% extends "admin/change_form.html" %}

{% load admin_urls %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
    div.submit-row {
        text-align: left;
    }
    .submit-row input {
        height: auto;
        padding: 1.5em;
        margin: 1em 0 !important;
        text-transform: uppercase;
    }
    div.submit-row input.green,
    div.submit-row input.red,
    div.submit-row input.default,
    input[type="submit"], button {
        float: none;
        display: block;
    }

    input.green {
        background-color: #2e843b;
    }
    input.red {
        background-color: #ba2121;
    }

    .form-row {
        clear: both;
    }
    .col {
        float: left;
        width: 50%;
    }
    .col h2 {
        margin-right: 2em;
    }

    .diff p {
        display: inline-block;
        width: calc(95% - 170px);
        margin-left: 0 !important;
        margin-right: 25px;
    }
    .diff div.changed {
        background-color: #BBFFBB;
    }

    .field-moderator_comments label {
        display: none;
    }
</style>
<script type="text/javascript">
    $ = django.jQuery;
    $(function() {
        $('input.edit_button').click(function(e) {
            window.location = '{{ object_admin_url }}';
        });
    });
</script>
{% endblock %}

{% block title %}
View {{ object_name }} changes | {{ site_title|default:'Django site admin' }}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}Add {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content_title %}

<h1>View {{ object_name }} changes</h1>
{% if has_pending_changes %}
<p>
    This {{ object_name }} has been updated.<br>
    The requested changes are in the left column and the fields highlighted in green have been updated.
</p>
{% endif %}

{% endblock %}

{% block object-tools %}
{% endblock %}

{% block field_sets %}

<fieldset class="module aligned" style="margin-bottom: 0;">
    <h2>Approval details</h2>

    <div class="form-row">
        <div>
            <label>{{ original.content_type|capfirst }}</label>
            <p>
                {{ original.object_id }} - {{ original.content_object }}
                (<a href="{{ object_admin_url }}" class="historylink">Click to edit {{ object_name }}</a>)
            </p>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>Multistep workflow type</label>
            <p>{{ original.content_object.moderation_type.1 }}</p>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>Creator, Editor, Approver</label>
            <p>{{ original.creator }}, {{ original.editor }}, {{ original.approver }} (next: {{ current_approval_group }})</p>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>Last moderated by</label>
            <p>{% if original.last_moderator %}{{ original.last_moderator }}{% else %}-{% endif %}</p>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>Status</label>
            <p>{{ original.status }}</p>
        </div>
    </div>
</fieldset>

<fieldset class="module aligned">
    {% include "moderation/includes/changes_fieldset.html" %}
</fieldset>

{% for related_obj, related_changes in related_changes.items %}
    <fieldset class="module aligned">
        <h2>Related object: {{ related_obj }}</h2>
        {% include "moderation/includes/changes_fieldset.html" with changes=related_changes %}
    </fieldset>
{% endfor %}

<fieldset class="module aligned">
    <h2>Moderation Comments</h2>
    {% if has_pending_changes and has_change_permission %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    {% else %}
    {% if original.moderator_comments %}{{ original.moderator_comments|safe }}{% else %}<p>-</p>{% endif %}
    {% endif %}
</fiedset>

{% endblock %}

{% block submit_buttons_bottom %}

{% if has_pending_changes and has_change_permission %}
{% include "moderation/includes/submit_buttons.html" with edit_button=True %}
{% endif %}

{% endblock %}
