{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    #branding h1,
    #branding .badge {
        display: inline-block;
    }
    .badge {
        background-color: #333;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        border-radius: 50%;
        text-align: center;
    }
</style>
{% endblock %}

{% block branding %}
{{ block.super }}
{% if request.user.is_authenticated and moderation_approvals_queue_perm %}
<a href="{{ moderation_approvals_queue_url }}" class="badge" title="{{ moderation_approvals_queue_count }} pending approval{{ moderation_approvals_queue_count|pluralize }}">
    {{ moderation_approvals_queue_count }}
</a>
{% endif %}
{% endblock %}
